/*
* @Author: Administrator
* @Date:   2017-09-07 17:31:42
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-07 17:39:13
*/
h1{
	color:red;
	text-align:center;
}
h3{
	color:pink;
	text-align:center;
}
div{
	text-align:center;
}
